body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

.template
{
    visibility: hidden;
}

.book-item
{
    cursor: pointer;
}

.id
{
    visibility: hidden;
}

.stock-shortage
{
    background-color: yellow;
}

.title
{
    font-size: larger;
}

.price, .price-sum
{
    font-size: smaller;
}

.removed .title
{
    text-decoration-line: line-through;
}

.book-item, .cart-item
{
    border-width: thin;
    border-style: dotted;
}

.book-search, .shopping-cart
{
    border-width: medium;
    border-style: solid;
}

.book-search .filter-input
{
    width: 100%;
}